#display {
    background-color:black;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    width:320px;
    height:80px;
    }
  
  #displayValue{
    color: white;
    text-align: right;
    line-height: 80px;
    padding-right: 10px;
    font-size: 50px;
  }
  #operators {
    display: flex;
  }
  
  .operator{
    background-color: #E7E7E7;
    width: 78px;
    height: 80px;
    border: 1px solid #A9A9A9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
  #pad {
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    grid-gap: 0;
  }
  .number {
    background-color: #FFFFFF;
    width: 78px;
    height: 80px;
    border: 1px solid #A9A9A9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
  .equal {
      background-color: #FA8664;
      width: 78px;
      height: 326px;
      text-align: center;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      grid-row: span 4;
  }

  .active {
    background-color: #ccc;
  }
